{% extends 'base.html' %}
{% load static %}

{% block title %}Acccesorios{% endblock %}

{% block content %}
<section>
    <div class="container my-5">
        <h2 class="text-center text-white mb-4" style="background-color: rgba(87, 11, 158, 0.518);">Accesorios</h2>
        <div class="row">
            <div class="col-md-4 mb-4">
                <div id="carta1" class="card" style="background-color: rgba(75, 69, 69, 0.616);">
                    <div id="carouselCarta1" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="{% static 'images/hojargb0.jpeg' %}" class="d-block w-100" alt="Sable 1">
                            </div>
                            <div class="carousel-item">
                                <img src="{% static 'images/hojargb2.jpeg' %}" class="d-block w-100" alt="Sable 2">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselCarta1" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselCarta1" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                    <div class="card-body" style="color: aliceblue; text-align: center;">
                        <h5 class="card-title">Hoja Policarbonato RGB</h5>
                        <p class="card-text">$ 19.990 CLP</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div id="carta2" class="card" style="background-color: rgba(75, 69, 69, 0.616);">
                    <div id="carouselCarta2" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="{% static 'images/GD_0669.jpeg' %}" class="d-block w-100" alt="Sable 3">
                            </div>
                            <div class="carousel-item">
                                <img src="{% static 'images/GD_0675.jpg' %}" class="d-block w-100" alt="Sable 4">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselCarta2" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselCarta2" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                    <div class="card-body" style="color: aliceblue; text-align: center;">
                        <h5 class="card-title">Maleta Porta Lightsaber</h5>
                        <p class="card-text">$ 60.000 CLP</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div id="carta3" class="card" style="background-color: rgba(75, 69, 69, 0.616);">
                    <div id="carouselCarta3" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="{% static 'images/ebilla1.jpeg' %}" class="d-block w-100" alt="Sable 5">
                            </div>
                            <div class="carousel-item">
                                <img src="{% static 'images/ebilla2.jpg' %}" class="d-block w-100" alt="Sable 6">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselCarta3" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselCarta3" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                    <div class="card-body" style="color: aliceblue; text-align: center;">
                        <h5 class="card-title">Sujetador de Lightsaber Cinturon</h5>
                        <p class="card-text">$ 9.900 CLP</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div id="carta4" class="card" style="background-color: rgba(75, 69, 69, 0.616);">
                    <div id="carouselCarta4" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="{% static 'images/stand1.jpg' %}" class="d-block w-100" alt="Sable 7">
                            </div>
                            <div class="carousel-item">
                                <img src="{% static 'images/stand2.jpg' %}" class="d-block w-100" alt="Sable 8">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselCarta4" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselCarta4" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                    <div class="card-body" style="color: aliceblue; text-align: center;">
                        <h5 class="card-title">Stand para Lightsaber</h5>
                        <p class="card-text">$ 9.900 CLP</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div id="carta5" class="card" style="background-color: rgba(75, 69, 69, 0.616);">
                    <div id="carouselCarta5" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="{% static 'images/mango1.jpg' %}" class="d-block w-100" alt="Sable 9">
                            </div>
                            <div class="carousel-item">
                                <img src="{% static 'images/mango2.jpg' %}" class="d-block w-100" alt="Sable 10">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselCarta5" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselCarta5" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                    <div class="card-body" style="color: aliceblue; text-align: center;">
                        <h5 class="card-title">Union para Lightsaber</h5>
                        <p class="card-text">$ 29.900 CLP</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</section>

{% endblock %}
