{% extends 'base.html' %}
{% load static %}

{% block title %}Lightsaber Personajes{% endblock %}

{% block content %}
<section>
    <section>
        <div class="container my-5">
            <h2 class="text-center text-white mb-4" style="background-color: rgba(36, 22, 66, 0.575);">Lightsabers de Personajes</h2>
            <div class="row">
                <div class="col-md-4 mb-4">
                    <div id="carta1" class="card" style="background-color: rgba(75, 69, 69, 0.616);">
                        <div id="carouselCarta1" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="{% static 'images/Lukeold.jpg' %}" class="d-block w-100" alt="Sable 1">
                                </div>
                                <div class="carousel-item">
                                    <img src="{% static 'images/Lukeold1.jpg' %}" class="d-block w-100" alt="Sable 2">
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselCarta1" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselCarta1" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                        <div class="card-body" style="color: aliceblue; text-align: center;">
                            <h5 class="card-title">Luke Skywalker Old</h5>
                            <p class="card-text">Desde los $ 179.990 CLP</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div id="carta2" class="card" style="background-color: rgba(75, 69, 69, 0.616);">
                        <div id="carouselCarta2" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="{% static 'images/luk1.jpg' %}" class="d-block w-100" alt="Sable 3">
                                </div>
                                <div class="carousel-item">
                                    <img src="{% static 'images/luk2.jpg' %}" class="d-block w-100" alt="Sable 4">
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselCarta2" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselCarta2" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                        <div class="card-body" style="color: aliceblue; text-align: center;">
                            <h5 class="card-title">Luke Skywalker</h5>
                            <p class="card-text">Desde los $ 157.900 CLP</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div id="carta3" class="card" style="background-color: rgba(75, 69, 69, 0.616);">
                        <div id="carouselCarta3" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="{% static 'images/senti1.jpg' %}" class="d-block w-100" alt="Sable 5">
                                </div>
                                <div class="carousel-item">
                                    <img src="{% static 'images/senti2.jpg' %}" class="d-block w-100" alt="Sable 6">
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselCarta3" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselCarta3" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                        <div class="card-body" style="color: aliceblue; text-align: center;">
                            <h5 class="card-title">Sentinel</h5>
                            <p class="card-text">Dese los $ 269.900 CLP</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div id="carta4" class="card" style="background-color: rgba(75, 69, 69, 0.616);">
                        <div id="carouselCarta4" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="{% static 'images/nego1.jpg' %}" class="d-block w-100" alt="Sable 7">
                                </div>
                                <div class="carousel-item">
                                    <img src="{% static 'images/nego2.jpg' %}" class="d-block w-100" alt="Sable 8">
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselCarta4" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselCarta4" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                        <div class="card-body" style="color: aliceblue; text-align: center;">
                            <h5 class="card-title">The Negotiator</h5>
                            <p class="card-text">$ 145.990 CLP</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div id="carta5" class="card" style="background-color: rgba(75, 69, 69, 0.616);">
                        <div id="carouselCarta5" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="{% static 'images/sablenegro1.jpg' %}" class="d-block w-100" alt="Sable 9">
                                </div>
                                <div class="carousel-item">
                                    <img src="{% static 'images/sablenegro2.jpg' %}" class="d-block w-100" alt="Sable 10">
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselCarta5" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselCarta5" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                        <div class="card-body" style="color: aliceblue; text-align: center;">
                            <h5 class="card-title">The Acolith</h5>
                            <p class="card-text">$ 599.900 CLP</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div id="carta5" class="card" style="background-color: rgba(75, 69, 69, 0.616);">
                        <div id="carouselCarta5" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="{% static 'images/maul1.jpg' %}" class="d-block w-100" alt="Sable 9">
                                </div>
                                <div class="carousel-item">
                                    <img src="{% static 'images/maul2.jpg' %}" class="d-block w-100" alt="Sable 10">
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselCarta5" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselCarta5" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                        <div class="card-body" style="color: aliceblue; text-align: center;">
                            <h5 class="card-title">DARTH MAUL</h5>
                            <p class="card-text">Desde los $199.900 CLP</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div id="carta5" class="card" style="background-color: rgba(75, 69, 69, 0.616);">
                        <div id="carouselCarta5" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="{% static 'images/Sol1.jpg' %}" class="d-block w-100" alt="Sable 9">
                                </div>
                                <div class="carousel-item">
                                    <img src="{% static 'images/Sol2.jpg' %}" class="d-block w-100" alt="Sable 10">
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselCarta5" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselCarta5" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                        <div class="card-body" style="color: aliceblue; text-align: center;">
                            <h5 class="card-title">Sol Lightsaber</h5>
                            <p class="card-text">Desde los $ 249.900 CLP</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div id="carta5" class="card" style="background-color: rgba(75, 69, 69, 0.616);">
                        <div id="carouselCarta5" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="{% static 'images/mango1.jpg' %}" class="d-block w-100" alt="Sable 9">
                                </div>
                                <div class="carousel-item">
                                    <img src="{% static 'images/mango2.jpg' %}" class="d-block w-100" alt="Sable 10">
                                </div>
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselCarta5" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselCarta5" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                        <div class="card-body" style="color: aliceblue; text-align: center;">
                            <h5 class="card-title">Union para Lightsaber</h5>
                            <p class="card-text">$ 29.900 CLP</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </section>
</section>
{% endblock %}