{% extends 'base.html' %}
{% load static %}

{% block title %}Políticas de Envio{% endblock %}

{% block content %}

<section class="envio-section">
    <div class="envio-container">
        <div class="envio-content">
            <h2>Política de envío</h2>
            <p>
                Las compras realizadas vía web serán enviadas en un plazo de hasta 48 hrs hábiles, generalmente se enviarán al día hábil siguiente de la compra. Los envíos son por orden de llegada y el horario de envíos es de lunes a viernes de 09:00 a 18:00 hrs. Una vez realizado, se enviará el comprobante de envío al correo o whatsapp entregado por el cliente para que pueda hacer el seguimiento. Todos nuestros envios son por Starken

                Las entregas se realizan de lunes a viernes desde 09:00 a 18:00 horas, y estas pueden realizarse a terceros (familiares o conserjes). El servicio de entrega se realiza a través de una EMPRESA EXTERNA. El plazo de entrega se cuenta desde la entrega del paquete a la empresa externa. Los tiempos de entrega, retrasos, y otros cambios son de exclusiva responsabilidad de la empresa de encomiendas. 
                
                Las demoras causadas por la ausencia del cliente al momento de la entrega, información de registro incorrecta, la negativa del cliente para aceptar el envío y el cambio de domicilio, no son responsabilidad de Mundo Geek. 
                Cualquier inconveniente de fuerza mayor que impida el envío del producto a tiempo como inundaciones, desastres naturales, accidentes graves, ordenes de las autoridades, restricciones de circulación, cuarentenas, u otras ocasiones de fuerza mayor; para todos los efectos Mundo Geek está libre de responsabilidad. 
                
                En el caso de que el cliente solicite devolución de su dinero, se descontará el monto de envío.
                El servicio de despacho es realizado por una empresa externa, Mundo Geek no es responsable por daños, pérdida, hurto, robo u otra situación que pudiera acontecer con el paquete. Para todos los efectos legales, se da por entregado el producto al cliente al momento de entregar la encomienda a la empresa externa, desde ese momento es responsabilidad de la empresa externa. En caso de ocurrir algún problema, Mundo Geek apoyará al cliente en todo el proceso de gestión de cobro del seguro.
                
                Los productos antes de ser enviados, son testeados por nuestro equipo, revisados, embalados y etiquetados para su posterior envío, si al momento de recibir, el producto presenta alguna falla, rotura, quiebre, etc, el cliente se verá en la obligación de informar al correo contacto@mundogeek.cl o al número de su vendedor sobre la situación para solucionarlo lo más rápido posible.
            </p>
        </div>
    </div>
</section>


{%  endblock %}