{% extends 'base.html' %}
{% load static %}

{% block title %}Políticas de Reembolso{% endblock %}

{% block content %}
<section class="refund-policy-section">
    <div class="refund-policy-container">
        <div class="refund-policy-content">
            <h2 class="text-center">Política de Reembolso</h2>

            <h3>Garantía Legal:</h3>
            <p>
                Todos nuestros productos poseen garantía legal de 6 meses a contar de la fecha de compra. Mundo Geek no entrega garantía de satisfacción.
            </p>
            <p>
                La garantía legal se hará válida en los puntos que menciona la ley del consumidor, siempre que la falla no sea imputada al cliente, mal uso del producto o intervención de este.
            </p>
            <p>
                Si el producto ha sido modificado (en cualquiera de sus partes), rayado, pintado, cocido, abierto, desarmado, intervenido, etc. o si por mal uso, uso inadecuado, uso para el cuál no está diseñado, no se hará válida la garantía por ningún motivo. Dándole la opción al cliente de reparar, en los casos que sea posible. El costo de la reparación será siempre a cargo del cliente.
            </p>

            <h3>Garantía del Fabricante y/o Importador:</h3>
            <p>
                Algunos de nuestros productos poseen garantía del fabricante o importador, en estos casos la responsabilidad de responder por fallas del producto son de exclusiva responsabilidad de dicha empresa, entidad o persona. 
            </p>
            <p>
                Nosotros daremos todas las facilidades para hacer llegar el producto y devolverlo al cliente, en cuyo caso los tiempos de entrega son ajenos a nuestra responsabilidad. Los productos con esta garantía no están sujetos a garantía legal por parte de Mundo Geek, traspasando esa responsabilidad al fabricante y/o importador.
            </p>
            <p>
                En el caso de nuestros sables de luz, nuestro proveedor entrega una garantía de un año la cual se podrá hacer valer siendo Mundo Geek intermediario para hacer más fácil el proceso.
            </p>
        </div>
    </div>
</section>

{% endblock %}