{% extends 'base.html' %}
{% load static %}

{% block title %}Preguntas Frecuentes{% endblock %}

{% block content %}
<section class="faq-section">
    <div class="faq-container">
        <div class="faq-content">
            <h2 class="text-center">Preguntas Frecuentes</h2>

            <h3>¿Hacen envíos a domicilio?</h3>
            <p>
                Sí, puedes revisar los detalles acerca de los despachos aquí: 
                <a href="https://mundogeek.cl/policies/shipping-policy" target="_blank">https://mundogeek.cl/policies/shipping-policy</a>
            </p>

            <h3>¿Cuál es el horario de atención al cliente?</h3>
            <p>
                El horario de Atención al Cliente es de lunes a viernes de 10:00 a 19:00 horas, este horario aplica para la atención por Instagram y nuestro mail 
                <a href="mailto:contacto@mundogeek.cl">contacto@mundogeek.cl</a>, los cuales son nuestros únicos medios de contacto. 
                Todas las consultas realizadas los días sábado, domingos y festivos serán atendidas el día lunes o día hábil siguiente.
            </p>

            <h3>¿Cuáles son los medios de pago disponibles en el sitio web?</h3>
            <p>
                Actualmente contamos con Mercado Pago y Transferencia bancaria.
            </p>

            <h3>Acabo de realizar una orden, ¿Cuándo podré recibir mi pedido?</h3>
            <p>
                Los pedidos de la web tardan de 2 a 3 días hábiles en llegar a tu respectivo domicilio.
            </p>
        </div>
    </div>
</section>

{% endblock %}