{% extends 'base.html' %}
{% load static %}

{% block title %}Mundo Geek{% endblock %}

{% block content %}
<section class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">

                <div id="carouselProducto" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        {% for imagen in producto.imagenes.all %}
                            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                <img src="{{ imagen.foto.url }}" class="d-block w-100" alt="{{ producto.name }}">
                            </div>
                        {% endfor %}
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselProducto" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselProducto" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>

                <div class="card-body">
                    <h2 class="card-title">{{ producto.name }}</h2>
                    <p class="card-text">{{ producto.descrip }}</p>

                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><strong>Precio:</strong> ${{ producto.precio }}</li>
                        <li class="list-group-item"><strong>Cantidad:</strong> {{ producto.cantidad }}</li>
                        <li class="list-group-item"><strong>Tecnología:</strong> {{ producto.tecnologia }}</li>
                        <li class="list-group-item"><strong>Color:</strong> {{ producto.color }}</li>
                    </ul>

                    <!-- Este es un form en el que permite crear este objecto "carrito" -->
                    <form method="post" action="{% url 'agregar_al_carrito' producto.id %}">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="cantidad" class="form-label" style="color: black;">Cantidad</label>
                            <input type="number" class="form-control" id="cantidad" name="cantidad" value="1" min="1" max="{{ producto.cantidad }}" style="background-color: bisque; color: black;">
                        </div>
                        <button type="submit" class="btn btn-primary">Agregar al carrito</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>





{% endblock %}
