{% extends 'base.html' %}
{% load static %}

{% block title %}Registrarse{% endblock %}
{% block content %}

<section class="registro-section">
    <div class="registro-container">
        <h2>Registro</h2>
        <form id="registro" class="registro-form" method="POST">
            {% csrf_token %}
            <h2>Formulario de Registro</h2>
            {{ form.as_p }}
            <button type="submit" class="btn btn-register">Registrarse</button>

            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">{{ message }}</div>
            {% endfor %}

        </form>
    </div>
</section>

{% endblock %}